.test {
    ul {
        li {
            border:1px solid red;
            width:200px;
            height:400px;
        }
    }
}
.test1 {
    ul {
        li {
            border:1px solid red;
            width:200px;
            height:400px;
        }
    }
}
